# compiled output
/dist
/node_modules
**/__pycache__

# Logs
/logs
*.log

# PyBuilder
.pybuilder/
target/
 
# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/data
/public
.env
.env.dev